body
{
    background-size: cover;
    background-position: center;
}

.link
{
    background-color: white;
    border-radius: 12px;
    width: 285px;
    margin-top: 18px;
    font-size: medium;
}

.link:hover
{
    font-family: cursive;
    font-size: large;
    font-weight: bolder;
}

.heading
{
    font-size: 22px;
    width: 100%;
}

canvas {
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
    margin: 30px;
    border-style: dashed;
}